.home-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px 0;

    .search-input {
      flex: 1;
      justify-self: flex-start;
      margin: 0 80px 0 20px;
    }
  }

  .users-table {
    width: 80%;
  }
}
